.navDiv{
    position:sticky;
    top:0px;
    background-color: rgb(72, 167, 135);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height:10vh;
    z-index: 1;
}

.navDiv>ul{
    display:flex;
    flex-direction: row;
}
.navDiv>ul>li{
     background-color: rgb(16, 148, 148);
     
}
.navDiv h1{ 
    margin:2rem;
}